<div class="container">

  <div class="page-header">
    <h1>About fCamp</h1>
  </div>

  <div class="col-md-5">
    <%= image_tag("1 - chinese.jpg", class: "img-responsive") %>
  </div>

  <div class="col-md-7">
    <div class="panel panel-default semi-opaque">
      <div class="panel-body">

        <font size="4">
          <p>We are dedicated to the cooks, the foodies, the fat kids.</p>

          <p>We wake up in the middle of the night and dejectedly stare at the sad contents of the fridge, lamenting the lack of good restaurants open at 3 am.</p>

          <p>Enjoyment of a range of good food with a range of good people is what drives us, and it infuses every feature of fCamp.</p>
        </font>
        
      </div>
    </div>
  </div>

</div>
