<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= mail_to "rochelimit@gmail.com", "Ask An Infrequent Question", class: "btn btn-default semi-opaque" %>
    </div>
    <h1>Frequently Asked Questions</h1>
  </div>

  <div class="col-md-12">
    <div class="panel semi-opaque">
      <div class="panel-body">

        <h3>Why do you allow anyone to edit a restaurant's profile?</h3>
        <p>fCamp is intended as a community resource. We don't want to discourage people from adding restaurants because they don't want to research every last contact detail, and we want to allow people to fill things in later.</p>

        <h3>You talked about planning outings and uploading menus and Yelp API integration and loads of shit. WTF?</h3>
        <p>I know, I talked a good game about what this site could be in three weeks. Tristan's comment about getting fire-hosed with content has basically always been true for me. But I will retain this stuff better if I'm returning to it in little bits. I intend to do everything I can on this, as a main original goal was to have an extra (little) piece in my portfolio.</p>

      </div>
    </div>
  </div>

</div>
