<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= mail_to "rochelimit@gmail.com", "Ask An Infrequent Question", class: "btn btn-primary" %>
    </div>
    <h1>Frequently Asked Questions</h1>
  </div>




</div>
