<div class="container">

  <div class="jumbotron semi-opaque">
    <h1>fCamp</h1>
    <p>Your lunch, organized.</p>
  </div>

  <div class="row">
    <div class="col-md-4 pad-bottom">
      <%= image_tag("2 - mexican.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-4 pad-bottom">
      <%= image_tag("7 - moroccan.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-4 pad-bottom">
      <%= image_tag("4 - sushi.jpg", class: "img-responsive") %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-danger semi-opaque">
        <div class="panel-heading">
          <h5>Restaurant profiles</h5>
        </div>
        <div class="panel-body">
          Get the scoop on a restaurant before you venture out. See ratings, browse menus, call for reservations or takeout, and more.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-danger semi-opaque">
        <div class="panel-heading">
          <h5>Favorites</h5>
        </div>
        <div class="panel-body">
          See other people's favorite restaurants and cuisines
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-danger semi-opaque">
        <div class="panel-heading">
          <h5>Lunch trip planner</h5>
        </div>
        <div class="panel-body">
          Suggest and accept outings with like-tongued friends
        </div>
      </div>
    </div>

  </div>

</div>
