<div class="container">

  <div class="jumbotron">
    <h1>fCamp</h1>
    <p>Your lunch, organized.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag("1 - chinese.jpg", class: "pad_bottom img-responsive") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("5 - italian.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("4 - sushi.jpg", class: "img-responsive") %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Restaurant profiles
        </div>
        <div class="panel-body">
          Get the scoop on a restaurant before you venture out. See ratings, browse menus, call for reservations or takeout, and more.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Second panel title
        </div>
        <div class="panel-body">
          Second panel body
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Third panel title
        </div>
        <div class="panel-body">
          Third panel body
        </div>
      </div>
    </div>

  </div>

</div>
