<div class="container">

  <div class="jumbotron semi-opaque">
    <h1>fCamp</h1>
    <p>Your lunch, organized.</p>
  </div>

  <div class="row pad-bottom">
    <div class="col-md-4">
      <%= image_tag("5 - italian.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("7 - moroccan.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("4 - sushi.jpg", class: "img-responsive") %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-danger semi-opaque">
        <div class="panel-heading">
          <h5>Restaurant profiles</h5>
        </div>
        <div class="panel-body">
          Get the scoop on a restaurant before you venture out. See ratings, browse menus, call for reservations or takeout, and more.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-danger semi-opaque">
        <div class="panel-heading">
          <h5>Second panel title</h5>
        </div>
        <div class="panel-body">
          Second panel body
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-danger semi-opaque">
        <div class="panel-heading">
          <h5>Third panel title</h5>
        </div>
        <div class="panel-body">
          Third panel body
        </div>
      </div>
    </div>

  </div>

</div>
