<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "Delete", @restaurant, method: :delete, data: {confirm: "By clicking OK, you are certifying that the restaurant is permanently closed, and further agreeing that you understand the penalty for unwarranted deletion is to allow our moderators to tar and feather you and your little dog, too."}, class: "btn btn-danger" %>
    </div>
    <h2>Edit profile of "<%= @restaurant.name %>"</h2>
  </div>

  <!-- breadcrumbs go here -->

  <%= render 'form' %>

</div>







</div>
