<!DOCTYPE html>
<html>
<head>
  <title>fCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="/">
        fCamp
      </a>
    </div>
  </nav>

<!-- stick your flash notice container here  -->

<%= yield %>

</body>
</html>
